[2016-07-28 13:16] straube opened #1 "Improve settings interface"
Currently, the domains and (optional) base URLs are set in a single textarea. This is okay for developers, but non-techie users may find it hard to use.

Separated fields for each domain and its base URL should be created. Including some script to add more domains and remove existing ones.

Theses settings fields may stay in the General options page. I don't think they need to be moved somewhere e

[2016-07-28 16:02] straube opened #2 "Allow developers to create complex domain access rules"
Despite the possibility of setting a base URL for each domain, it may be interesting to allow developers to create complex domain access rules. The behavior should be kept the same as we have today: if the user is accessing a disallowed URL he/she will be redirected to an allowed URL.

A filter is probably the best solution do achieve this:

[code]

[2016-07-28 22:26] straube commented on #2
I end up using an action instead a filter. It made more sense.

The default logic uses the base URL from the plugin settings, this way:

[code]

A developer may create a custom logic adding a new function to `multiple_domain_redirect` action. There is only one expected param: the current domain.

Here is an example on how to use the action:

[code]

[2016-08-20 19:21] averri opened #3 "Undefined index: host"
Error when activating the plugin:

[code]

[2016-08-20 20:25] straube commented on #3
@averri It seems you're using the code from master. This issue was fixed on 0.3, please use that version ~~by getting the code from **0.3** branch~~.

If it's more convenient, you can also get the working version from [WordPress.org](https://wordpress.org/plugins/multiple-domain/) or by installing it from your WP Admin.

**UPDATE**: I've merged the latest updates into **master** branch and deleted

[2016-08-20 20:25] #3 closed, assigned to nobody

[2016-08-21 13:39] #1 closed, assigned to straube

[2016-12-01 08:29] adminjason opened #4 "Error after install plugin, cant activate"
Parse error: syntax error, unexpected '[' in /www/wordpress/wp-content/plugins/multiple-domain/multiple-domain.php on line 62

[2016-12-07 12:41] straube commented on #4
Hey @adminjason, you're probably using an old PHP version. Creating arrays using square brackets is only available starting at PHP 5.4. I advise you to upgrade your PHP version if possible, mainly for security reasons.

Let me know if something else is causing the issue.

[2017-01-10 14:34] #4 closed, assigned to nobody

[2017-07-25 12:41] ahmed-abdelaziz-rabea opened #5 "how can enable this plugin with .env file i'm use bedrock Wordpress installation"
Dears,
I'm installed this plugin on my WordPress site and I need active it but my Wordpress based on Bedrock WordPress installation you have any suggestions

[2017-07-25 19:49] straube commented on #5
Hi!

I've never worked with this Bedrock Wordpress, but it seems you can use `wp-cli` to install plugins: https://discourse.roots.io/t/does-bedrock-trellis-disable-the-ability-to-add-install-plugins-via-admin/6925/3

Please let me know if that doesn't work for you. Also, if we should update the plugin in some specific way to support Bedrock, I appreciate if you tell me how.

**UPDATE**

It seems y

[2017-07-28 14:01] straube commented on #5
@AhmedAbdelazizRabea Have something I mentioned in the previous comment worked for you?

[2017-08-01 21:21] straube commented on #5
@AhmedAbdelazizRabea since I didn't hear back from you, I'm closing this issue. If you need further help, feel free to comment.

[2017-08-01 21:22] #5 closed, assigned to nobody

[2017-08-02 15:38] ahmed-abdelaziz-rabea commented on #5
Dear,
Sorry for the delay, and thank you for your effort, but I ask how to add this in .env file
however, I used this code in config/application.php it's working fine now

 define('WP_SITEURL', 'http://' . $_SERVER['SERVER_NAME']. '/wp');
 define('WP_HOME', 'http://' . $_SERVER['SERVER_NAME']);

Thank you,

[2017-10-24 21:34] stik2 opened #7 "Not currently working."
I have pointed my domains to the same IP address of my WP Server. I installed the plugin and address my two other domain names and the folders in which they land on. But when I type in the address I am getting a 404 error from the WP server. The instructions are simple enough to set this up but it doesn't seem to be working.

[2017-11-16 11:08] straube commented on #7
Hey @stik2 , sorry for the delayed response. Were you able to figure out this problem? If you weren't, please let me know how your config looks like so I can try to help fix it.

[2017-11-28 23:00] straube commented on #7
Since this issue has 1+ month and I got no feedback from @stik2, I'm closing it.

[2017-11-28 23:00] #7 closed, assigned to nobody

[2018-02-04 23:23] metuza opened #11 "Redirect to original domain if SSL / https"
Installed plugin in my woocommerce test site which is not using SSL and everything seems to work perfect. Then i did the same install in my live site which is using SSL and then i get a 301 redirect back to original domain.

It works ok if i use domain without www in browser.

Also hreflang tags is not correct, missing ://
<link rel="alternate" hreflang="httpswww.arctic-fritid.no/" href="x-default

[2018-02-05 07:53] metuza commented on #11
I did find the issue.. Several places the WWW was not cleaned out from domain and this caused a redirect to the old domain.

I added preg_replace( '/^www\./i', '', $value ); around where needed and now everything works ok. Also fixed the hreflang $_SERVER['HTTPS'] ? 'http://' : 'https://';

So at my end it works perfect now.

[2018-02-05 13:36] straube commented on #11
Hey @metuza. Do you think this is a bug or something specifically related to your setup? If it's a bug, could you explain better what you changed and maybe submit a pull request to fix it? Thanks!

[2018-02-05 14:11] metuza commented on #11
I think it is a bug.. The construct function in code does not clean out WWW from domain so when compared with stored custom domains it is ofcourse not found and standard domain is used.

Here i have added preg_replace to remove WWW, so one step further.

`public function __construct()
    {
        $ignoreDefaultPort = true;
        $headerHost = filter_input(INPUT_SERVER, 'HTTP_X_HOST', FILTER_DE

[2018-02-08 11:23] straube commented on #11
Thanks for the info. Unfortunately, I won't be able to write a patch for the next 2 weeks. I let you know as soon as I update the plugin.

[2018-02-08 11:41] metuza commented on #11
No problems, it works for me now.. Maybe you at the same time should consider a way to add CDN url so we also could use CDN for the secondary domain.

[2018-04-24 01:33] #11 closed, assigned to nobody

[2018-05-17 11:49] AndreaCensi opened #13 "No Wordpress bar for logged-in users appears on extra domains"
Hi,

The plugin works as intended,

however the dashboard does not appear on the top for registered users.

Is there a way to fix this?

thanks!

[2018-05-17 13:14] straube commented on #13
Hey @AndreaCensi! The plugin shouldn't change the top bar visibility. Have you tried to disable only the **multiple-domain** plugin to make sure it is causing the top bar to disappear?

[2018-05-19 17:11] AndreaCensi commented on #13
Hi Gustavo,

I actually solved this - the problem was indeed with the multiple-domain
plugin, and the cause was that the cookies were not being passed correctly.

In the WP config, I changed `COOKIE_DOMAIN` to "domain.tld" instead of
"www.domain.tld" and now it works.

On Thu, May 17, 2018 at 9:14 AM Gustavo Straube <notifications@github.com>
wrote:

[2018-05-19 18:42] straube commented on #13
I got it! That's actually due to a security measurement from WP. When a cookie is created, it sets a domain to it using the value from `COOKIE_DOMAIN`. In your case, the solution was simple because you use `domain.tld` and `www.domain.tld`, in other words, a domain and a subdomain. However, if you had two completely different domains with no common base, such as `somedomain.tld` and `anotherdomaon

[2018-05-25 10:51] straube opened #14 "Remove filter_input from plugin"
From [this discussion](https://wordpress.org/support/topic/replace-filter_input-in-plugin-construct/) on WP.org support forum:

[2018-05-25 10:56] straube opened #15 "Check value of $ignoreDefaultPort"
After reviewing the code, it looks like `$ignoreDefaultPort` in the `MultipleDomain` class' constructor is only in initialized with `true` and never set to a different value. Check against older releases to confirm what happened there. Probably some tests are required to see if it's working as supposed.

[2018-05-25 11:02] straube opened #16 "Improve automated tests"
I'm not sure whether all features can be tested outside a WP installation (possibly [Mockery](http://docs.mockery.io/en/latest/) would be helpful on that) but at least the utilities and some other methods could be automatically tested with PHPUnit. I guess the first step to achieve that is moving the `MultipleDomain` class have to its own file. That would separate the plugin bootstrap logic from t

[2018-05-25 11:14] straube opened #17 "Using a list of locales instead of a text input"
When setting up the plugin, it's possible to set a language for each domain. Currently, the language code should be set in a text input. Is it a good thing to have a list and pick the language from there? The [`ResourceBundle::getLocales()` function](http://php.net/manual/en/resourcebundle.locales.php) could be helpful here.

Just two things to consider:

1. The "`_`" (underscore) in the locales r

[2018-05-25 11:33] straube opened #18 "Code style"
I don't like the way the code looks right now. There is:

* HTML code in strings within the class;
* Lines with way more than 120 chars in length;
* A lengthy constructor.

Just to mention a few things. Something like [GrumPHP](https://github.com/phpro/grumphp) set up in the project to check code style. Or, even better, a CI service to check that on every commit pushed to master.

[2018-05-25 12:32] tbrandysky opened #19 "Plugin doesn't work after update"
Parse error: syntax error, unexpected 'class' (T_CLASS), expecting identifier (T_STRING) or variable (T_VARIABLE) or '{' or '$' in /srv/wordpress/webpage/wp-content/plugins/multiple-domain.disabled/multiple-domain.php on line 411

[2018-05-25 13:52] straube commented on #19
Hello @tbrandysky, what PHP version are you using?

The error you got is in this line:

    register_activation_hook(__FILE__, [ MultipleDomain::class, 'activate' ]);

I'm wondering if the problem is due to the `MultipleDomain::class`. That was added on [PHP 5.5](http://php.net/releases/5_5_0.php).

[2018-05-25 14:14] tbrandysky commented on #19
This is Wordpress running in our production environment on Centos 7 (CentOS Linux release 7.4.1708 (Core) with php-5.4.16-43.el7_4.1.x86_64

[2018-05-25 14:50] straube commented on #19
Yea, as I supposed you're using an older PHP version. I'll release an update by the end of the day to make it compatible with PHP 5.4 again.

If you can't wait that long, please update the line 411 this way:

    register_activation_hook(__FILE__, [ 'MultipleDomain', 'activate' ]);

[2018-05-25 15:21] tbrandysky commented on #19
Great,
thank you very much for your work !
I can wait for the update.

[2018-05-25 16:15] straube commented on #19
@tbrandysky I've just released a new version, 0.7.1. Please update your installation and let me know if it fix the issue.

[2018-05-25 16:56] #19 closed, assigned to straube

[2018-05-25 17:22] tbrandysky commented on #19
I can confirm the issue is solved in new version.
Thank you very much for quick fix !

[2018-06-06 07:30] vptcnt opened #20 "Get Language of one domain"
Hello,

I am setting a website under wordpress with multiple domain for each language, for example :
https://www.domain.com - English
https://www.domain.fr - French
https://www.domain.dk - Danish

I am think about to use you plugin..
I am wondering how to get the language of the domain used by the final user :

if the user enters via https://www.domain.dk, how can I get the language - Danish in th

[2018-06-06 12:27] straube commented on #20
Hey! The plugin currently doesn't have a method to give that info out of the box. I'll add it to the next release.

Until then, you can get the current language with just a few lines of code, this way:

    $domains = get_option('multiple-domain-domains');
    $lang = null;
    if (!empty($domains[MULTPLE_DOMAIN_DOMAIN]['lang'])) {
        $lang = $domains[MULTPLE_DOMAIN_DOMAIN]['lang'];
    }

If

[2018-06-10 15:38] energiedin opened #21 "No 'Access-Control-Allow-Origin' header is present on the requested resource."
Hello
i have this error with my second domaine :
Failed to load https://xxxxxxx/wp-admin/admin-ajax.php: No 'Access-Control-Allow-Origin' header is present on the requested resource.

[2018-06-29 11:54] straube opened #22 "Post content showing links and media assets from the original URL"
Let's say one has set up the plugin with two different domains: `foobar.net` and `foobar.com`, where `foobar.net` is the original domain. When pointing the browser to `foobar.com`, all links and media assets added to post content will have the original domain.

This happens because the plugin doesn't filter the post content to replace the original domain with the current one. I don't think this sh

[2018-06-29 12:14] straube commented on #22
A temporary solution is adding a filter to the theme's `functions.php` file:

    add_filter('the_content', 'fix_content_for_multiple_domain');

    function fix_content_for_multiple_domain($content)
    {
        if (defined('MULTPLE_DOMAIN_ORIGINAL_DOMAIN') && MULTPLE_DOMAIN_ORIGINAL_DOMAIN !== MULTPLE_DOMAIN_DOMAIN) {
            $regex = '/(https?:\/\/)' . preg_quote(MULTPLE_DOMAIN_ORIGINAL_DO

[2018-08-02 07:27] QuietNoise commented on #14
Hi,

When you plan to implement it?

[2018-08-02 09:13] straube commented on #14
Hi @QuietNoise,

Despite my effort to keep the plugin up to date and bug-free, I was really busy in the last months. I didn't start working on this issue. It sure requires some testing, but it doesn't seem a complex one at a first glance. If you could spare the project a couple hours, feel free to submit a PR. I really appreciate that. :)

[2018-09-03 09:11] tbrandysky commented on #22
I can confirm there is such issue. I also can see the media links pointing back to other domain. This is an issue for our company as we access the wp-admin from internal subnets and these internal subnet domain is then listed publicly in \<img src="internal-domain.company.com"\>. The result is the address of our internal domain leaks and the media image resource is not visible for our clients. Can

[2018-09-03 10:33] tbrandysky commented on #22
btw: the proposed temporary solution doesn't fix the issue for me. I still can see \<img  src="https://internal.company.com\> in the post when I try to access it on https://company.com site

[2018-09-07 11:18] straube commented on #15
It seems `$ignoreDefaultPort` always was `true` from the beginning. I'm wondering whether it worth moving that over an option. Then each installation could choose between ignore default ports (`80` and `443`) from URLs even when they're present.

For now, I'm leaving this issue open.

[2018-09-07 12:34] #14 closed, assigned to nobody

[2018-09-07 12:34] #20 closed, assigned to straube

[2018-09-07 12:34] #21 closed, assigned to straube

[2018-09-07 12:40] straube commented on #22
@tbrandysky Could you check if the new release (`0.8.0`) fixes the issue?

[2018-09-07 13:17] tbrandysky commented on #22
Unfortunately we still see the same behaviour as I described in my previous post.

[2018-09-07 15:06] straube commented on #22
As noticed by @tbrandysky, assets can still be loaded from a URL different than the current one.

Let's say a site's current multiple domain setup is:

* example.com (original domain)
* example.net
* example.org

If an asset is added to a post content from `example.net` and one accesses the site from `example.com`, the asset will still be loaded from `example.net`. That happens because the current

[2018-09-07 16:01] tbrandysky commented on #22
I can confirm that this solution works.
Thank you.

[2018-09-13 08:47] tbrandysky commented on #22
I've found out there still is a request to get that data from example.com even when accessing site on example.net:

accessing WP at https://example.net

that part of source HTML with wrong URL reference:

<style type="text/css">
		#site-header {
			background-image: url(https://example.com/wp-content/uploads/2018/09/architecture-blur-bright-440313_2.jpg);
		    background-size: cover;
		}

[2018-09-13 08:49] tbrandysky commented on #22
another thing is that the plugin always redirects users to https even when site is HTTP only

[2018-10-06 03:49] jffaria opened #23 "Undefined index"
When using wp-cli for plugin operations this plugin generates a notice for undefined index HTTP_HOST on line 379 of MultipleDomain.php

[2018-10-08 10:41] #23 closed, assigned to nobody

[2018-10-27 10:45] #22 closed, assigned to straube

[2018-10-27 11:36] #15 closed, assigned to straube

[2018-10-27 15:30] #17 closed, assigned to nobody

[2018-10-29 13:12] rasmustaarnby opened #28 "Possible XSS issue"
Hi,

We ran a security test on a site which uses this plugin and it flagged a possible XSS issue with an alternate header. We tracked it to this line https://github.com/straube/multiple-domain/blob/master/multiple-domain/MultipleDomain.php#L383

[2018-10-30 16:58] #28 closed, assigned to nobody

[2018-10-30 16:59] straube commented on #28
@rasmustaarnby Thanks for reporting that. This is now fixed on `master` and will be available with the next release (1.0.0, probably).

[2018-11-11 01:31] TheFiZi opened #31 "Don't add SSL when accessing via a Tor domain name"
I'm using this plugin to get my blog working as a Tor hidden service. My site is available via it's normal URL and a tor service URL.

The base domain is: https://www.pickysysadmin.ca/ and Wordpress enforces SSL

This is my configuration for the plugin:

![image](https://user-images.githubusercontent.com/1762426/48307989-f60a3600-e50d-11e8-8127-b56d80d4a019.png)

When I go to http://27i7rsfkhoanza

[2018-11-11 01:40] TheFiZi opened #32 "Image URLs not being re-written properly via Tor"
Another Tor related issue.

If you go to https://www.pickysysadmin.ca/2018/11/10/how-to-almost-automatically-backup-your-steam-library/

The first image has the following links associated with it:
* Image location: https://www.pickysysadmin.ca/wp-content/uploads/2018/10/SteamGamesDriveEnableCompression.png
* When clicked link: https://www.pickysysadmin.ca/wp-content/uploads/2018/10/SteamGamesDrive

[2018-11-13 15:20] straube commented on #32
@TheFiZi This is definitely a bug. I have almost no free time to work on this around these days. But as soon as I have a chance, I'll write a fix for this. In the meantime, if you find a solution, feel free to submit a PR. :)

[2018-11-13 15:30] straube commented on #31
@TheFiZi I'm wondering if it makes sense to have this exception hard-coded.

I may add a new option for when adding a domain:

[code]

I think that makes more sense and covers more cases where users want to force a given protocol. What do you think?

In any way, I only will have time to work on this change in 2-3 weeks.

[2018-11-17 20:58] TheFiZi commented on #31
@straube That sounds like a good way to handle it to me.

[2018-12-14 22:02] straube commented on #13
I finally was able to do some research and the short answer is: this can't be fixed for different domains.

It's actually possible to use some technique to write the cookies in multiple domains, but it would require some ugly workarounds. Just like the one suggested in the first answer to this question: https://stackoverflow.com/q/19531183/1128918

I'm closing the issue for now.

[2018-12-14 22:02] #13 closed, assigned to straube

[2018-12-14 22:34] straube commented on #32
@TheFiZi Have you figured out a way to fix this issue? If you haven't, could you help me debug this issue? I need to check how the content looks like before the plugin replaces the URLs. Adding the `var_dump` call below to line 313 would print out that value:

    var_dump($content);

This is just after the following lines:

    public function fixContentUrls($content)
    {
        if (array_key_

[2018-12-19 04:07] TheFiZi commented on #32
Sorry for the delay.

I've inserted the code and you can view the results by going to http://27i7rsfkhoanzabw.onion/ via the Tor Browser.

Here is a screenshot of an example. I'm not sure if it's outputting the data you want.

![image](https://user-images.githubusercontent.com/1762426/50198453-9a974900-0300-11e9-8a28-f28ccf669b47.png)

[2018-12-19 14:56] #32 closed, assigned to nobody

[2018-12-19 15:05] straube commented on #32
@TheFiZi Thanks to your help, I was able to track the bug down.

The issue is now fixed and a new version was released: **0.8.2**. Please update it in your Wordpress instance and let me know how it goes.

[2018-12-20 02:53] TheFiZi commented on #32
@straube I think that's got it fixed. The links all look correct now.

Things still aren't loading properly but that's because of issue #31 :)

[2018-12-20 12:01] straube opened #33 "Add settings link to plugin list"
To improve usability, a **Settings** link could be added to the Multiple Domain row on the installed plugins list.

Here's a reference on how to achieve that: https://codex.wordpress.org/Plugin_API/Filter_Reference/plugin_action_links_(plugin_file_name)

[2018-12-20 12:03] straube commented on #31
I started working on this. I had a discussion with our UX designer and we'll improve the usability of the plugin configuration section.

[2019-01-08 12:37] straube opened #34 "hreflang tag error"
consultant1027 said on [WP.org Support Forum](https://wordpress.org/support/topic/hreflang-tag-error/):

[2019-01-12 22:56] #34 closed, assigned to straube

[2019-01-12 23:18] #33 closed, assigned to straube

[2019-01-14 11:26] straube opened #36 "Wrong host in URLs returned by the JSON API"
nc_nc said on [WordPress.org Support Forum](https://wordpress.org/support/topic/post-img-src-and-links-are-still-going-to-the-default-site/):

[2019-01-14 11:30] straube opened #37 "Improve docs"
Some users on [Wordpress.org Support Forum](https://wordpress.org/support/plugin/multiple-domain/) have complained about the plugin docs. The questions are usually related to DNS but also about the plugin settings, such as the **path** option. The FAQs answers some questions but it's still too broad and lacks some details.

[2019-01-16 21:23] #36 closed, assigned to straube

[2019-01-17 13:30] straube opened #38 "Missing locales on language list"
As reported by Tom, through email:

I believe that using the [language list](https://raw.githubusercontent.com/umpirsky/language-list/master/data/en/language.json) he suggested is the best approach here.

This issue was introduced by #17.

[2019-01-17 14:11] TomK32 commented on #38
Thanks, but it seems I've sent you the wrong link, it should be the locales list from this one:

https://github.com/umpirsky/locale-list/blob/master/data/en/locales.csv

As a simple litmus test: It has to be en_GB, not en_UK. https://support.google.com/webmasters/answer/189077?hl=en

[2019-01-18 17:26] straube commented on #38
@TomK32 This was fixed by f1305ba. The latest release (v 0.8.5) includes that update.

Let me know if you find anything wrong with that update.

[2019-01-18 18:15] TomK32 commented on #38
Did the format change from de-DE to de_DE or something like that? Getting empty fields here when I load the preferences page. Might confuse a lot of people.

I strongly recommend adding the existing value to the select and no rely on it being in the list.

![2019-01-18 19 14 22](https://user-images.githubusercontent.com/3527/51404998-5d1f1900-1b55-11e9-9975-a7821b40a7dc.png)

[2019-01-22 13:10] tbrandysky opened #39 "Problems with accessing wp-admin from multiple domains"
After last update we can't access /wp-config from other than primary WP domain. When wp-config is accessed from different domains (different_wp_domain.com/wp-config) it gets redirect to main WP domain (main_wp_domain.com/wp-config).

Because we use one domain for external access to WP (wp-config is blocked here) and different domain to access WP internally this is a serious issue.

[2019-01-22 17:05] straube commented on #39
Hey @tbrandysky. Thanks for reporting that. I'm aware of some admin issues on the latest 2 releases (0.8.4 and 0.8.5). I was trying to fix an issue in the General settings page and it ended up causing some undesired side effects. I'll rollback those changes in the next release. I'm busy with other projects right now but I'll try to do that ASAP. Thanks for your patience.

[2019-01-22 17:07] straube commented on #38
That sounds like a bug. Reopening the issue...

[2019-02-01 11:14] straube commented on #39
@tbrandysky The latest release (0.8.6) should address this issue. Let me know in case you still see any unexpected behavior.

[2019-02-01 11:14] #39 closed, assigned to straube

[2019-02-01 11:21] tbrandysky commented on #39
I can confirm the issue is fixed in latest release. Thank you!

[2019-02-01 11:21] straube commented on #38
@TomK32 I didn't run all the tests but this commit I referenced above contains a possible fix for this issue. After I do some more testing, I'll release an update through Wordpress' repository.

[2019-02-07 21:07] straube commented on #38
@TomK32 I finally release an update to WP.org that includes the fix I mentioned last week. It's in 0.8.7. Let me know if it fixes the lang selection.

[2019-02-07 21:07] #38 closed, assigned to straube

[2019-02-14 16:05] jradxl opened #41 "Switching between HTTPS and HTTP domains"
Hello and thanks for your plugin, which I have working with a slight addition fix.
I'm writing this in case it's a feature that could be added.
My website is available as https (let's encrypt) on my own domain into a Nginx reverse proxy.
The proxy relays the connection to a http 192.168.2.x server which runs WordPress.
I can connect to my WP instance from my laptop on my local LAN via http and of

[2019-02-14 18:36] straube commented on #41
Hey John, I think this is a valid addition. Have you taken a look at this other issue https://github.com/straube/multiple-domain/issues/31? Do you think that protocol setting with Force HTTP, Force HTTPS, and Auto options would work in this case?

[2019-02-19 14:32] straube opened #42 "Add canonical tags for SEO purposes"
Based on [this discussion in WordPress](https://wordpress.org/support/topic/does-the-plugin-work-well-with-yoast-seo/) forum, a nice addition to the plugin would be an option to add canonical tags to a site using Multiple Domain plugin.

This probably should be an option and not added by default. Site admins would have the choice to enable it and also pick one of the domains as the "primary" domai

[2019-02-23 04:44] iparker commented on #42
I'm not a seo expert but I think this is a good idea.

On my site currently every post/site has a canonical link to itself in head, for example

<link rel="canonical" href="https://gastrojobs.online/job/messehosts-messehostessen-fuer-die-ids-in-koeln-gesucht-12-16-03-briefing-11-03-2026/" />

On the secondary/additional domains this link should lead to the main domain. Just the main domain should

[2019-02-24 11:15] iparker commented on #42
And one additional idea: If no one of the multiple domains is marked as primary domain the "original" domain could be the fallback primary domain.

[2019-03-08 21:31] #31 closed, assigned to straube

[2019-03-08 21:35] straube commented on #31
@TheFiZi I added the protocol option to domain settings. Please update the plugin in your WP installation to `0.10.0` and set the protocol option for `27i7rsfkhoanzabw.onion` to `http://`. Let me know if that fixes the issue.

[2019-03-08 21:38] straube commented on #41
@jradxl I released a new version (`0.10.0`) that includes a new option to set the protocol for a given domain. You can set it to `http`, `https` or `auto`. This last one will keep the protocol from the current domain, whatever it is `http` or `https`.

Let me know in case that update doesn't help you.

[2019-03-08 21:38] #41 closed, assigned to nobody

[2019-03-08 23:04] TheFiZi commented on #31
Hmmm. I don't think it's re-writing the URLs at all now.

![image](https://user-images.githubusercontent.com/1762426/54060919-63c02900-41b3-11e9-8b5e-e367632dcb1e.png)

[2019-03-09 01:35] straube commented on #31
Could you send me a screenshot of your current plugin setup?

[2019-03-10 11:58] kokers opened #43 "Domain not replaced for site_url etc."
Hi!

Last update broke replacing urls. The condition in "replaceDomain" is never met cause "option_home" and other strictly url filters hasn't been replaced and can't get passed this:
https://github.com/straube/multiple-domain/blob/master/multiple-domain/MultipleDomain.php#L675
Seems that $domain is always original domain now.

Reversing to previous release, it's working ok now.

[2019-03-11 00:54] c266 commented on #43
I confirm. Same issue.

[2019-03-11 17:13] straube commented on #43
Hey @kokers, thanks for reporting that. Could you send me a screenshot of your current plugin set up? Also, what's the domain you originally installed WordPress in?

[2019-03-11 18:37] TheFiZi commented on #31
Here you go:

![image](https://user-images.githubusercontent.com/1762426/54148774-1382da00-43f2-11e9-83b2-cd9fbc61addf.png)

[2019-03-11 19:53] straube commented on #31
I just pushed an update (0.10.2) to fix that. Until 0.9.x, you were not required to include the original domain where you installed WordPress into the plugin settings. However, in 0.10.0 this is mandatory. That requirement broke some installations. I added a fallback to the plugin always load the original domain. Which is `www.pickysysadmin.ca` in your case, right?

Please keep me posted about any

[2019-03-11 19:54] straube commented on #43
Hi! I saw the setup for a different installation and pushed a fix base on it. Could you give `0.10.2` a try and let me know whether it fixes your setup.

[2019-03-11 20:36] TheFiZi commented on #31
Looks like that patch did the trick and got us 98% there.

Post patch:
![image](https://user-images.githubusercontent.com/1762426/54155903-4cc34600-4402-11e9-84ac-f399fe682ee9.png)

After loading up the site in Tor:
![image](https://user-images.githubusercontent.com/1762426/54155927-577ddb00-4402-11e9-89ca-58ac42105e65.png)

Looks like only two images aren't having their URLs re-written. Those two

[2019-03-11 23:44] kokers commented on #43
Sorry for late response, just got some time to test it and it's looking good! 👍 can't find any issues. Thanks! Really appreciate it :o)

[2019-03-12 12:35] #43 closed, assigned to nobody

[2019-03-12 13:06] straube opened #44 "Move the changelogs from README to their own file"
This project's README file is getting too big due to the changelogs. Let's move them to their own file following the standards described here: https://keepachangelog.com/en/1.0.0/.

[2019-03-12 13:07] straube commented on #37
Also include developer docs, such as the API (public methods).

[2019-03-12 13:08] straube commented on #16
A helpful link: https://make.wordpress.org/cli/handbook/plugin-unit-tests/. Perhaps?

[2019-03-12 14:28] straube opened #45 "Improve memory usage"
When replacing domains in big strings, it's possible that memory leaks happen. One possible way to handle that is breaking the string in smaller chunks but I'm not sure if that would actually help. I have to run some tests to see how the plugin logic behaves on those cases. Here is an example of a related issue that required memory increase: https://wordpress.org/support/topic/error-output-on-wp-j

[2019-03-12 20:09] mc9625 opened #46 "I can't get rid of the "path""
If I do redirect:
example.com/path to path.example.com when I open http://path.example.com I get: http://path.example.com/path

Why?

[2019-03-13 00:38] c266 commented on #43
thank you

[2019-03-13 13:57] straube commented on #46
@mc9625 I ran some tests and that wasn't supposed to happen.

I need more info to help you debug that. Where are you making the redirect? Is it on the web server (nginx, Apache, etc) level? In any way, could you elaborate on how you're doing that?

[2019-03-13 15:14] #44 closed, assigned to nobody

[2019-03-13 15:53] straube opened #47 "Releases and changelog improvements"
The most recent releases have no description here: https://github.com/straube/multiple-domain/releases. We need to add info based on changelogs.

The links to issues on [CHANGELOG.md] are not working. I guess the full URL has to be added (it contains only the issue ID, right now).

[2019-03-27 07:56] kernig opened #48 "WP Compatibility 5.1.1"
On the addon page it says that the compatibility is tested up to wp 5.1.0.
When will the current version be compatible with 5.1.1?
https://wordpress.org/plugins/multiple-domain/

Thanks!

[2019-03-27 20:16] straube commented on #48
Unfortunately, I haven't had much free time to work on the plugin lately. That's why it's not fully tested up to the latest release.

However, since 5.1.1 is just a bug fix release upon 5.1.0, I'd say it's already compatible. Have you found any incompatibilities?

[2019-03-31 18:49] cschleiden opened #49 "replaceUrl too greedy when one domain is a prefix of another"
My original url was `xxx.de` and now I've setup a second domain `xxx.dev`. Now it looks like `replaceDomain` is either sometimes called twice on urls *or* called on urls that already use the new domain.

This resulted in some older posts, having the `srcset` attribute for images pointing to `xxx.devv` (notice the second `v`), since `replaceDomain` seems to have been applied to a `xxx.dev/wp-upload

[2019-04-01 08:38] kernig commented on #48
I didn't mean to rush you. Just thought that it has been forgotten.
No, everything works as expected. Thank you for your effort!

[2019-04-01 15:07] straube commented on #49
Hey @cschleiden. I noticed a similar issue and wrote a fix for it but didn't push to WP repository yet. Check this out: https://github.com/straube/multiple-domain/commit/1d6de1b04b73e4d696f3debb90477b17959be31a. Do you think it might fix the bug you found?

[2019-04-02 20:58] axlrho commented on #48
I'm with WP 5.1.1. and when I try to activate I get this:
Parse error: syntax error, unexpected 'class' (T_CLASS), expecting identifier (T_STRING) or variable (T_VARIABLE) or '{' or '$' in /public_html/wp-content/plugins/multiple-domain/multiple-domain.php on line 35

[2019-04-02 21:07] straube commented on #48
What PHP version are you running? I guess you're running 5.4, which doesn't support the `::class` keyword.

[2019-04-03 14:20] axlrho commented on #48
You are completely right. Thanks.

[2019-04-09 19:18] straube commented on #49
Version 0.11.0 was released and include the mentioned fix.

[2019-04-09 19:18] #49 closed, assigned to nobody

[2019-04-09 19:18] straube commented on #48
The compatibility tag was updated.

[2019-04-09 19:18] #48 closed, assigned to nobody

[2019-04-09 22:26] cschleiden commented on #49
Great! Sorry, I didn't get to test the fix from https://github.com/straube/multiple-domain/commit/1d6de1b04b73e4d696f3debb90477b17959be31a, I'll upgrade to the new version though and validate.

[2019-04-10 10:13] tobeyfox opened #50 "Website inaccessible after update to version 0.11.0"
Warning: strpos(): Empty needle in /www/wp-content/plugins/multiple-domain/MultipleDomain.php on line 418

[2019-04-10 10:26] sooslaca commented on #50
+1 same here

AH01071: Got error 'PHP message: PHP Warning:  strpos(): Empty needle in /storage/vhost_default/htdocs/public_html/wp-content/plugins/multiple-domain/MultipleDomain.php on line 418'

[2019-04-10 12:17] #50 closed, assigned to nobody

[2019-04-10 12:23] straube commented on #50
Hey! You're probably using `/` as base path for some domains, correct? If that's the case, the just released version 0.11.1 should fix that PHP error. No configuration change is required. You may keep using `/` as base path.

[2019-04-10 12:25] straube commented on #46
@mc9625 I'm wondering if you set `/path` as the base path restriction for `path.example.com`. Is that what you're doing?

[2019-04-10 12:35] sooslaca commented on #50
awesome, thanks @straube it works as expected ! and yes that's the case I use `/` as base path.

[2019-04-10 12:39] straube opened #51 "How to disable hreflang tags output even for the original domain?"
You may notice that even if you don't set a language for any domain, you still get a default `hreflang` tag in your page head. To disable this behavior, you can remove the action that adds that tag. To do so, add the following code to your theme's `functions.php` file:

[code]

[2019-04-10 12:39] #51 closed, assigned to nobody

[2019-04-10 12:49] #42 closed, assigned to nobody

[2019-04-10 12:51] straube opened #52 "Hide base URL"
There are 2 requests on WP Support Forum for a new feature that enables base URL hiding:

* https://wordpress.org/support/topic/hide-base-url/
* https://wordpress.org/support/topic/all-links-redirect-to-domain-home-page/

This would require some extra work in the rewriting and redirection rules.

Any help on this development is appreciated.

[2019-04-11 04:55] classmate01 opened #53 "Cannot activate the new updated plugin"
Error:
Parse error: syntax error, unexpected 'class' (T_CLASS), expecting identifier (T_STRING) or variable (T_VARIABLE) or '{' or '$' in /var/www/mysite/public_html/wp-content/plugins/multiple-domain/multiple-domain.php on line 39

[2019-04-12 09:07] hkodavid opened #54 "Redirect to original domain (without https)"
WP: 5.1.1
MD: 0.11.0+
Last working MD version: 0.10.3

My wp redirects at the template_redirect around prio 10, with version 0.11.0 and above.

Test details (settings was 2 domains, base path empty, others default):
1.
    v0.11.0+
    add_action('template_redirect', function(){die;}, 9, 0);
    Result: White screen without redirect. (Working, because stopped before the redirect.)
2.
    v0.11.0+

[2019-04-12 12:05] straube commented on #54
Hello @hkodavid,

The plugin is not supposed to directly affect `template_redirect` action, which is a WordPress action. In any way, I'll try to reproduce to make sure there is something I can do to avoid that side effect.

Thanks for the report.

[2019-04-12 12:15] straube commented on #53
I guess you were using an older version of the plugin before the update, right? It's been a while since we don't support older PHP versions (< 5.6) and that error is probably because you're using 5.4 or 5.5. Is that right?

You have 3 options here:

1. Downgrade to an older version of MultipleDomain (0.8.6 is the most recent version that still supports PHP 5.5);
2. Upgrade your server to use a new

[2019-04-12 12:17] straube commented on #47
The releases were updated. Still need to fix the links to issues, though.

[2019-04-14 14:47] c266 opened #55 "admin_url() return main domain url since 0.11"
update 0.11.0 (or 0.11.1) broke my site and i found the issue
I use this to set ajax url :
wp_localize_script( 'jquery', 'MyAjax', array( 'ajaxurl' => admin_url( 'admin-ajax.php' ) ) );

but admin_url() is now returning main site url
(my site setup is complicated, with logged-in users being attached to a specific domain)

[2019-04-15 12:50] straube commented on #55
Hey @crmb. Thanks for reporting that. Do you know the version you have installed before the update?

[2019-04-15 12:51] #53 closed, assigned to nobody

[2019-04-15 16:37] c266 commented on #55
It was working with 0.10.3

[2019-04-19 14:30] #55 closed, assigned to nobody

[2019-04-19 14:44] straube commented on #55
@crmb I just released a new version that should fix this issue. It's **0.11.2**. Please let me know how it goes.

[2019-04-19 14:46] straube commented on #46
Closing this issue since I haven't heard back from @mc9625 for over a month.

[2019-04-19 14:46] #46 closed, assigned to straube

[2019-04-19 15:08] #47 closed, assigned to nobody

[2019-04-19 15:14] straube commented on #37
IMO the docs are good enough for now.

[2019-04-19 15:14] #37 closed, assigned to nobody

[2019-04-19 15:48] #18 closed, assigned to nobody

[2019-04-19 17:24] straube opened #56 "Programmatically set the domains list"
Based on this conversation https://wordpress.org/support/topic/hook-get_optionmultiple-domain-domains/ it would nice to have a way to programmatically set the list of domains. This may be useful for complex setups, especially when a large number of domains is involved.

I'm thinking of having the following new methods:

[code]

[code]

[code]

Any suggestions?

[2019-04-21 11:19] c266 commented on #55
Yes it's fixed thanks.

[2019-04-22 20:04] straube commented on #54
@hkodavid I ran the following tests in a fresh WordPress installation with no plugins installed except Multiple Domain:

[code]

[code]

[code]

Notice the only change between each test is the action priority (9 to 11). All of them gave me the same results. A screen displaying `foo`, only. The tests were consistent with **0.10.3**.

Maybe the issue was fixed on **0.11.2**, which was released last

[2019-04-25 16:00] hkodavid commented on #54
I ran a test on the same wp after updated to v0.11.2 and worked well! Thanks!

[2019-04-25 16:00] #54 closed, assigned to straube

[2019-04-26 19:20] #56 closed, assigned to nobody

[2019-04-26 19:21] straube commented on #56
The API methods were pushed to `master` and should be released in the next week with `1.0.0`. 🎉

[2019-04-29 15:04] classmate01 commented on #53
where can I find a download link of the older version?
got it already thanks

[2019-04-29 15:08] straube commented on #53
You may download it from the plugin page: https://wordpress.org/plugins/multiple-domain/advanced/. Look at **PREVIOUS VERSIONS** section at the end of the page.

[2019-06-12 12:59] ianluddy opened #58 "Can't deactivate canonical url"
**Describe the bug**
Unchecking the canonical option doesn't stop the canonical link being added to the page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to settings
2. Uncheck the canonical checkbox
3. Refresh page and clear any caching
4. Canonical link remains

**Expected behavior**
Canonical link shouldn't be there if the checkbox isnt checked

**Screenshots**
If applicable, add sc

[2019-07-17 07:28] ysoldyoung87 opened #59 "Not working on WP 5.2.2"
Condition as below :
WP installed at the sub directory of a domain
e.g : [main domain] https://www.abc123.com
       [additional domain] https://www.abc123.com.sg
        [WP installed] https://www.abc123.com/blog/
        [WP installed] https://www.abc123.com.sg/blog/

Problem on Widget -> Posts list / Latest posts
The link at additional domain show wrongly as
https://www.abc123.com.sg.sg/blog/[t

[2019-08-19 14:34] vkathirvel opened #60 "Performance Improvement on Original Domains"
Would it make sense to not process the plugin if the request was for the original domain? I notice that canonicals are inserted for original domain too - meaning the plugin is processing original domain pages as well.

    private function __construct()
    {
        $this->initAttributes();
// Adding this could skip original domain processing, not?
        if($this->domain == $this->originalDomai

[2019-08-20 12:41] vkathirvel commented on #60
The above is a rough working Ideally the code needs to be optimised when it comes to delivering the Original Domain.

[2019-08-20 15:13] straube commented on #60
Hey @vkathirvel. Thanks for the suggestion. Yet, the change is not that simple. E.g. if one has a link inside a post pointing to `https://otherdomain.com` and they're accessing the page from `https://originaldomain.com`, that link won't get replaced. Clicking on it would take the user to a different domain. Does it make sense?

In any way, if you want to put some time on improving these checks, fe

[2019-08-20 15:33] vkathirvel commented on #60
Thanks @straube
I've been playing around with the tweaks and I figured it is more complex than I thought :)
I'll see if I can improve the code. Thanks.

[2019-09-27 08:59] straube commented on #59
I think this issue is not directly related to the WordPress version in question. Other users [reported](https://wordpress.org/support/topic/duplicate-second-level-domain/) [similar](https://wordpress.org/support/topic/domain-rewritten-wrongly/) [behavior](https://wordpress.org/support/topic/link-translation-wrong-domain/).

It seems that changing the order of domains in the plugin configuration fi

[2019-09-29 11:26] straube opened #61 "Add recovering instructions to FAQ"
Sometimes users block their own sites due some misconfiguration. To fix this, one is required to delete the plugin or reset the settings in the database. Since this happened more than once, the recovering instructions should be added to the FAQ.

References:
https://wordpress.org/support/topic/help-799/
https://wordpress.org/support/topic/help-me-out-please-2/

[2019-10-09 19:48] #58 closed, assigned to nobody

[2019-10-09 19:52] Tobias-Keller commented on #52
@straube trying to understand what exactly the problem is...can you explain it in more detail?

[2019-10-09 20:13] straube commented on #52
This is not an actual issue. Some users asked for a way to remove the page name from the URL when a path restriction is in place. For example, get the following setup:

[code]

Now, when a visitor access `http://other.org` they'll be redirected to `http://other.org/some-page`. The redirect happens due to the path restriction. This will also happen if the visitor points the browser to e.g. `http://

[2019-10-14 21:00] Tobias-Keller commented on #52
I have to think about it ... and try a bit

[2019-10-15 11:04] #61 closed, assigned to straube

[2019-10-15 11:10] straube commented on #60
Hey @vkathirvel. While revisiting this issue I was thinking if an option would be useful here. We could add a new option to the plugin settings that allow site admins to disable the rewrite processing for the original domain. If they think it's safe to do so, i.e. everything from user-created content to uploads is on the main domain, they could enable this option. In this case, it'd default to pro

[2019-10-22 14:00] straube commented on #45
According to [this answer](https://stackoverflow.com/a/33329959/1128918) on StackOverflow, it seems that [`mb_eregi_replace`](https://www.php.net/mb_eregi_replace) use less memory than `preg_replace`. I didn't benchmark them yet, but I'll definitely give a try when I have a chance.

If someone has any thoughts on this approach, please let me know.

[2019-10-22 14:08] straube commented on #52
@Tobias-Keller I'm reconsidering this feature. It's not something a lot of users asked for and I also think it's a bit far from the plugin's main purpose, which is simply add support to multiple domains. A more complex setup like the one requested here can probably be achieved with [Wordpress Multisite](https://wordpress.org/support/article/create-a-network/).

I'm marking it as **wontfix**. If yo

[2019-10-22 14:08] #52 closed, assigned to nobody

[2019-10-22 14:11] straube opened #64 "Trailing slash on hreflang"
Implement the fix discussed in [this topic](https://wordpress.org/support/topic/trailing-slash-on-hreflang/) on the WP support forum.

[2019-10-22 16:20] andyadams opened #65 "Question: Are wp-admin URLs replaced?"
Hello, just a question: I'd like users to be able to login to the WP Dashboard under a separate (non-siteurl) domain, but I noticed that `multiple-domain` doesn't adjust URLs if they contain `wp-admin` - is that correct? (Looking at [this line](https://github.com/straube/multiple-domain/blob/master/multiple-domain/MultipleDomain.php#L517))

If so, was there a reason this limitation is in effect? F

[2019-10-22 17:09] straube commented on #65
Yeah, every admin URL bypasses the replacement logic. We had several users reporting issues related to admin URLs being rewritten, so the feature was removed.

You can try to remove that restriction and see how it goes in your case but I'd advise you to do that in a separate/testing environment. It may block the access to your site admin.

Let me know how it goes. If you're able to successfully re

[2019-10-22 18:21] andyadams commented on #65
Thank you @straube ! In our case, I advised the team against it - we have a large site with multiple admin users, and the risk of breakage outweighed the benefits. Your timely response really helped a lot! Thank you.

[2019-10-22 18:21] #65 closed, assigned to nobody

[2019-10-22 18:27] #64 closed, assigned to nobody

[2019-10-26 02:32] #59 closed, assigned to nobody

[2019-10-26 03:31] straube commented on #45
I could confirm that `mb_eregi_replace` consumes less memory when compared to `preg_replace`. However, it takes more time to execute. Here are the average metrics for a ~12Mb string:

## mb_eregi_replace

Memory: 14.3Mb
Exec. time: 3.16s

## preg_replace

Memory: 31.4Mb
Exec. time: 0.16s

Even smaller strings take around 2s with `mb_eregi_replace`. Perhaps we should have both options and leave for

[2019-10-28 12:38] #45 closed, assigned to nobody

[2019-10-28 12:42] straube commented on #45
To enable the low memory usage mode, add the following line to the `wp-config.php` file:

[code]

Using this mode has a downside of higher execution times. The developer must weight what is best for each installation's scenario.

[2019-10-28 12:57] straube commented on #16
The tests we have now are too limited in terms of code coverage. They simply look for errors in instance creating. I'm reopening this issue to improve the tests.

[2019-12-21 12:20] mytran commented on #51
For anyone looking to use this: `addHrefLangHeader` got renamed to `addHrefLangTags`

[2019-12-21 13:54] straube commented on #51
Thanks @mytran for the heads up. I forgot about this issue when changed the action name.

[2019-12-24 14:30] harryqt commented on #60
Not going to work when cache plugin exists because the pages will be cached.

[2020-01-09 14:51] straube commented on #60
@Dibbyo456 If the site admin disables the rewriting, then purges the cache, isn't it supposed to work? Next time the page is cached, it'll use the original content with no rewriting applied.

[2020-01-16 16:02] straube opened #69 "How to bypass the URL rewriting?"
Sometimes it may be useful to keep a URL as it is, not applying the rewriting. Here is a case the exemplifies a situation: https://wordpress.org/support/topic/linking-to-original-domain/.

I'm not sure if prepending something to the URL/domain is the best way to achieve that but it's one way.

Any other suggestions are welcome.

[2020-01-16 16:32] straube opened #70 "Canonical and hreflang tag issues"
Issues reported on the plugin support forum (https://wordpress.org/support/topic/two-problems-25/):

[2020-01-16 18:28] thegulshankumar commented on #70
Thanks for your concern.

[2020-01-24 13:37] Xavier59 opened #71 "XSS vulnerability being exploited in the wild"
**Describe the bug**
An XSS vulnerability targeting the plugin multiple domain and is being actually exploited in the wild

Faulty lines :

https://github.com/straube/multiple-domain/blob/51691cb8c60e9de52c8c7f1d88693f1f38820a7f/multiple-domain/MultipleDomain.php#L882-L886

https://github.com/straube/multiple-domain/blob/51691cb8c60e9de52c8c7f1d88693f1f38820a7f/multiple-domain/MultipleDomain.php#L

[2020-01-24 14:27] straube commented on #71
Hey @Xavier59, thank you for reporting that. I'll fix it ASAP. Also, feel free if you want to submit a PR right away.

[2020-01-25 11:02] straube commented on #71
@Xavier59 I tried to add the solution you suggested but it doesn't work the way it's supposed.

For instance, after changing the `outputCanonicalTag` this way:

[code]

I got the following `canonical` tag in my front-end:

[code]

Since the entire URL got encoded, the link doesn't work as expected.

I'm using only `htmlentities`, then. Which got me the following tag and doesn't show the alert on p

[2020-01-25 19:05] #71 closed, assigned to nobody

[2020-01-29 12:20] QuietNoise commented on #69
The biggest problem is that replaceDomain/replaceDomainUsingLessMemory are very intrusive. They replace URLs regardless of where they are (anchors, images, JS, comments, pure text, legitimate links to another domain from the pool).
If someone will try to quote a serialised code (with a domain in it) in a post content then plugin will break the code.

Got some suggestions with progressive complexit

[2020-02-03 13:51] straube commented on #69
@QuietNoise thanks for your suggestions. I'll put some thought on it to see what option fits better.

[2020-02-11 12:51] straube commented on #2
Following the support case [in here](https://wordpress.org/support/topic/302-redirect-9/), I think the plugin needs a way to prevent redirects based on custom logic. Keeping the current action hook, a filter also could be added. In case the filter returns an empty value (`null` or `false`), the redirect could be prevented.

[2020-02-20 09:48] ghost opened #73 "WPML compatibility?"
**Describe the bug**
Menu links are not changed, they are still showing the default language links instead of the newly added domain.

**To Reproduce**
Steps to reproduce the behaviour:
1. Have WPML installed
2. Use different domains for each language
3. Activate Plugin
4. Add another Domain

**Expected behaviour**
Links in the Main Navigation Menu to change according to the new domain added.

**S

[2020-02-21 17:02] straube commented on #73
Hey @jayhybrid

This plugin is not compatible with WPML nor any other plugin that relies on domain changes to work. This is a known issue for a while but there is no fix on the way. You can follow some discussions [in here](https://wordpress.org/support/topic/wpml-go-global-program/).

Yet, in case you simply need to have 1 domain per language, WPML handles that for you alone. There is no need to

[2020-02-21 17:08] straube opened #74 "Update docs (FAQ) on WPML compatibility"
The plugin docs have to be updated to include a Q&A on compatibility with WPML. This is a recurrent topic both here on Github and on WP Support Forums. Below there is a response I gave recently that could be used as a starting point for this doc update.

_Originally posted by @straube in https://github.com/straube/multiple-domain/issues/73#issuecomment-589742824_

[2020-02-24 07:46] ghost commented on #73
Hey @straube

Thanks for the info. The [discussion](https://wordpress.org/support/topic/wpml-go-global-program/) you sent me seems to be quite promising, am I missing something here? Could this not be tested [and applied]?

`// Show alias at Homepage as well
function filter_wpml_active_languages( $home_url) {
    if (class_exists('MultipleDomain')) {
        $multipleDomain = MultipleDomain::insta

[2020-04-07 18:44] mxgnr opened #76 "Fix URI generated for canonical tag"
Hi there,

First of all, thanks for making this useful plugin which i'm currently using for a project.

My main concern was about the canonical tag generated by the plugin, since i figured out that it is not working properly with my WP domain configuration :

- Main domain of the WP instance :
`https://www.example.com/some-subfolder/ ` ( this is actually the value returned by `home_url()` )
- Othe

[2020-04-10 15:46] straube commented on #76
Hey @maxgranier, thanks for your contribution! I'll try to test it over this coming weekend and I let you know if there is any issue. Otherwise, I'll go ahead and merge your PR.

[2020-06-03 04:32] thegulshankumar commented on #70
@straube Hi

Bug: Wrong x-default

Suppose, English is the primary language. Spanish version is added via WPML.
[code]

Problem
If I go to `view-source:https://example.com/es/acerca-de/` when plugin active it print in head

`<link rel="alternate" href="https://example.com/acerca-de/" hreflang="x-default" />`

**Expected**
`<link rel="alternate" href="https://example.com/about/" hreflang="x-default

[2020-08-02 18:52] straube opened #77 "Set custom primary domain"
The plugin sets the domain where WordPress was originally installed as the primary domain. Based on the following request,  add a feature that allows users to flag another domain as the primary one -- internally called "original domain".

Reference: https://wordpress.org/support/topic/plugin-is-adding-trailing-slash-to-url/

[2020-08-02 18:57] straube opened #78 "Disable trailing slashes"
Currently, the plugin always adds a trailing slash to alternate tags (see https://github.com/straube/multiple-domain/blob/master/multiple-domain/MultipleDomain.php#L614). Since not all WordPress installations use trailing slashes -- despite being the CMS's default behavior -- this could be an option. Leaving for users to choose whether they want to have trailing slashed adds to those tags.

One al

[2020-08-02 20:13] straube commented on #76
@maxgranier The changes you made were finally released in version 1.0.6.

[2020-08-02 20:13] #76 closed, assigned to nobody

[2020-10-29 23:10] straube commented on #2
Besides creating a custom redirect logic, one can also disable the built-in redirect using a new filter called `multiple_domain_disable_redirect`. Here's an example on how to use it:

[code]

When the filter returns `true`, the redirect will be disabled.

[2020-10-29 23:20] straube commented on #16
The current Travis configuration tests the code in old PHP releases. As an effort to make people use recent/secure versions, stop testing in these versions is a good thing.

[2020-10-29 23:34] #2 closed, assigned to straube

[2020-10-31 17:39] jffaria commented on #69
Hello folks!

I just needed this functionality now and what I thought of is changing fixContentUrls so that it uses an URL pattern matching only the configured domains (except current domain) for preg_split with PREG_SPLIT_DELIM_CAPTURE flag, then perform fixUrl on each URL found (every other array entry) and imploding the array to return the content.

The regex for splitting would be similar to t

[2020-10-31 17:49] straube commented on #69
@jffaria I've been running low on free time to update the plugin. I liked your idea and I'd love if you could submit a PR. Maybe at least a starting point to review and work together. Feel free to do that if you have a chance.

In any case, I really appreciate your contribution to a possible solution!

[2020-10-31 20:43] jffaria commented on #69
@straube okay, since you liked the idea I will try my hand at putting this into a PR in the next few days. Thanks for the feedback!

[2020-11-18 20:03] alishabestari opened #81 ""noindex" Option"
In some cases Google does Not pay attention to canonical tag. So I suggest to add an option to activate no index tag for new multiple domains in the Control Panel for users to check or uncheck this option

[2020-12-28 22:11] jklovance commented on #51
The solution does not work. The action 'addHrefLangHeader' is added several times during the render and only removed once. The tags are still there. I had to edit out the code that creates the tags to get rid of them. Do you have a hook that fires after the class is instantiated?

[2021-02-16 14:21] straube opened #82 "Support SLA and Next releases"
Hello!

This is Gustavo, I'm the developer behind Multiple Domain plugin. I made the first release of this plugin public available about 5 years ago, in 2016. Since then, I tried my best to provide support and launch new features, all in my free time. Most of the time, users were really nice, and sometimes even kindly made donations to support the development -- thank you all you that did that! In

[2021-02-16 14:24] #82 closed, assigned to nobody